---
import Card from "../Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hey, I'm Antolin Perez I am from Spain. GO SPAIN
      <br /><br />
      The languages ​​that I understand the most are:
      <ul class="list-disc list-inside">
        <li>Astro</li>
        <li>Html</li>
        <li>TailwindCSS</li>
        <li>JS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am a person who is learning to program and my favorite food is pizza
    </p>
    <p class="text-sm font-light">
      I am a developer in the learning process and the YouTuber that fascinates me is MiduDev
    </p>
  </div>
</Card>
