---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hey Soy Antolin Soy De España. ARRIBA ESPAÑA
      <br /><br />
      Los lenguajes que mas entiendo son:
      <ul class="list-disc list-inside">
        <li>Astro</li>
        <li>Html</li>
        <li>TailwindCSS</li>
        <li>JS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Soy una persona que esta aprendiendo a programar y mi comida favorita es la pizza
    </p>
    <p class="text-sm font-light">
      Soy un developer en proceso de aprendizaje y el youtuber que me facina es MiduDev
    </p>
  </div>
</Card>
