---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Sarthak, a frontend engineer from India.
      <br /><br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>TypeScript</li>
        <li>Next.js</li>
        <li>GraphQL</li>
        <li>TailwindCSS</li>
        <li>Node.js</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am a Developer with an eye in Design. I'm passionate about UX, crypto, cinema and traveling. 
      An unusual hobby of mine is reading random books and blogs.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
